@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.progress_steps_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 60px;
}

.progress_steps_box_line {
    position: relative;
    top: 30px;
    width: calc(100% - 60px);
    background-color: #dddddd;
    height: 3px;
    margin: 0 auto;
    z-index: 1;
}

.progress_steps_box_list {
    padding: 0 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.progress_steps_box_line::after {
    display: block;
    content: '';
    width: 50%;
    height: 3px;
    background-color: cornflowerblue;
}

.progress_steps_box_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #dddddd;
}

.progress_steps_box_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.active {
    background-color: cornflowerblue;
}


/* .prev_btn,
.next_btn {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    background-color: cornflowerblue;
}

.prev_btn:hover,
.next_btn:hover {
    background-color: rgb(79, 113, 177);
}

.prev_btn:active,
.next_btn:active {
    background-color: rgb(119, 161, 238);
} */

.prev_btn {
    margin-right: 5px;
}

.next_btn {
    margin-left: 5px;
}